<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Forms"/>
    <meta name="author" content="We Can Code It"/>

    <title>Form Directory</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/foodsitestylesheet.css" type="text/css"/>

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
           <!-- Tab Logo Image -->
    <link rel="icon" type="image/png" href="img/Tab-Icon.png"/>
        <!-- Jquery and Javascript link for this template -->
    <script type="text/javascript" src="js/npm.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

</head>

<body>

 <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top makeHeaderColor" role="navigation">
        <div class="container makeHeaderColor">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header makeHeaderColor">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img style="margin-top: -44px;" src="img/topLeftLogo.png"/></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="hvr-float-shadow" href="#aboutus">About</a>
                    </li>
                    <li class="hvr-grow">
                        <a class="hvr-float-shadow" href="/login-form">Login</a>
                    </li>
                    <li class="hvr-grow">
                        <a class="hvr-grow" href="/form_directory">Forms</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Form
                    <small>Directory</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Forms</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Row of Forms -->
         <div class="well">
            <div class="row">
            <h2>Partner Agreement</h2>
                <div class="col-md-7">
                    <h4>This form is for a schoool or program to become a partner in the BackPack Program. This forms goes over the expectations and agreements between Mid-Ohio Foodbank and the potential partner.</h4>
                </div>
                <div class="col-md-5">
                         <a href="http://www.midohiofoodbank.org/wordpress/wp-content/uploads/2016/01/BackPack-Partner-Agreement.pdf" class="btn btn-lg btn-default btn-block">Link To PDF Form</a>

                               <a href="/form_to_become_Program_Partner" class="btn btn-lg btn-default btn-block">Link To Electronic Form</a>
                </div>
            </div>
        </div>

        <!-- /.row -->

       <!-- Row of Forms -->
         <div class="well">
            <div class="row">
            <h2>BackPack Permission Letter</h2>
                <div class="col-md-7">
                    <h4>This form is to first tell partents and guardians that their child is eligble to Participate in Mid-Ohio Foodbank's BackPack Program. Then this form obtains permission from parents or guardians to allow their child participation into the program.</h4>
                </div>
                <div class="col-md-5">
                         <a href="http://www.midohiofoodbank.org/wordpress/wp-content/uploads/2016/01/BackPack-Permission-letter.pdf" class="btn btn-lg btn-default btn-block">Link To PDF Form</a>

                               <a href="/login-form" class="btn btn-lg btn-default btn-block">Link To Electronic Form</a>
                </div>
            </div>
        </div>

        <!-- /.row -->

       <!-- Row of Forms -->
         <div class="well">
            <div class="row">
            <h2>BackPack Refferrals</h2>
                <div class="col-md-7">
                    <h4>This form is for education and childcare professionals to refer a child they think has some degree of food insecurity into Mid Ohio's Foodbank BackPack Program</h4>
                </div>
                <div class="col-md-5">
                         <a href="http://www.midohiofoodbank.org/wordpress/wp-content/uploads/2016/01/BackPack-Referrals.pdf" class="btn btn-lg btn-default btn-block">Link To PDF Form</a>

                               <a href="/studentreferral" class="btn btn-lg btn-default btn-block">Link To Electronic Form</a>
                </div>
            </div>
        </div>

        <!-- /.row -->

       <!-- Row of Forms -->
         <div class="well">
            <div class="row">
            <h2>BackPack Coordinator Role</h2>
                <div class="col-md-7">
                    <h4>This form is for individual to become a BackPack Program Coordinator for a site. This form goes over the role, responsiblities and expectations of the Site Coordinator.</h4>
                </div>
                <div class="col-md-5">
                         <a href="http://www.midohiofoodbank.org/wordpress/wp-content/uploads/2016/01/BackPack-Coordinator-Role.pdf" class="btn btn-lg btn-default btn-block">Link To PDF Form</a>

                               <a href="/form_to_become_site_coordinaor.html" class="btn btn-lg btn-default btn-block">Link To Electronic Form</a>
                </div>
            </div>
        </div>

        <!-- /.row -->



        <hr/>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
