 <!DOCTYPE html>

  <html xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Student</title>
    
    <link href="css/bootstrap.min.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="css/foodsitestylesheet.css" type="text/css"></link>

    <!-- Jquery and Javascript link for this template -->
    <script type="text/javascript" src="js/npm.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

  </head>
  <body>

  <div class="col-lg-8 container ">
  <div class="jumbotron">
  <legend>Student Referral Information </legend>
  <p th:text =" ' Name    ' +${newStudent.firstName} + '  ' + ${newStudent.lastName}"></p>
  <p th:text= "'Age  ' +${newStudent.age}"></p>
  <p th:text="'Grade  ' +${newStudent.grade}"></p>
 
     </div>
    </div>
  </body>
</html>