 <!DOCTYPE html>

  <html xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Student</title>
    
    <link href="css/bootstrap.min.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="css/foodsitestylesheet.css" type="text/css"></link>
    <link href="css/bootstrap.css" rel="stylesheet"/>

      <!-- Tab Logo Image -->
  <link rel="icon" type="image/png" href="img/Tab-Icon.png"/>

    <!-- Jquery and Javascript link for this template -->
    <script type="text/javascript" src="js/npm.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

  </head>
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top makeHeaderColor" role="navigation">
        <div class="container makeHeaderColor">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header makeHeaderColor">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="hvr-grow navbar-brand" href="index.html"><img style="margin-top: -44px;" src="img/topLeftLogo.png"/></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a class="hvr-back-pulse" href="/welcome_screen">Welcome</a>
                    </li> 
                   <li>
                        <a class="hvr-back-pulse " href="/showStudentEntry">Add New Student</a>
                    </li>
                    <li>
                        <a class="hvr-back-pulse " href="/showStudents">Students</a>
                    </li>
                    <li>
                        <a class="hvr-back-pulse " href="/showVolunteers">Volunteers</a>
                    </li>
                    <li>
                        <a class="hvr-back-pulse " href="/showNewStudents">Student Referrals</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header-->

<div class="container">

    <form class="well form-horizontal" action=" " method="post"  id="contact_form"></form>
<fieldset>






  <div class="col-md-6 form-group">
<label style="font-size: 20px; color: #349245;" class=" control-label">Student's Name</label>

<p th:each="newStudent: ${newStudents}">
  <a th:href="@{/showNewStudent(id=${newStudent.id})}" 
  class="button btnPush btnBlueGreen" data-jkit="[show:delay=600;speed=500;animation=fade]" th:text ="${newStudent.firstName} + ' ' + ${newStudent.lastName}"></a>
</p>
  </div>
  

</fieldset>
</div></body></html>
