<!DOCTYPE html>

  <html xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Student List</title>
  <meta name="author" content="name"/>
  <meta name="description" content="Web Form for the site Coordinator to fill out and add data to the database."/>
  <meta name="keywords" content="Mid Ohio, Foodbank, Site, Coordinator"/>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="css/foodsitestylesheet.css" type="text/css"></link>

    <!-- Jquery and Javascript link for this template -->
    <script type="text/javascript" src="js/npm.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

  </head>
  <body>

<div class="container">

    <form class="well form-horizontal" action=" " method="post"  id="contact_form"></form>
<fieldset>

<legend>Student List</legend>


<p th:each="student: ${students}">
<div class="col-md-6 form-group">
  <label class=" control-label">Student's Name</label>
  <p th:each="student: ${students}">
  <a th:href="@{http>://localhost:8080/showStudent(id=${student.id})}">  <button type="button" th:text ="${student.firstName} + ' +          ${student.lastName}"></button></a>
  </div>
  </p>

 







</fieldset>
</div></body></html>




