 <!DOCTYPE html>

  <html xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Student</title>
    
    <link href="css/bootstrap.min.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="css/foodsitestylesheet.css" type="text/css"></link>

    <!-- Jquery and Javascript link for this template -->
    <script type="text/javascript" src="js/npm.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

  </head>
  <body>

  <div class="col-lg-12 container ">
<div class="jumbotron">
  <legend>Student Information </legend>
  <div class="divTable" style="border: 2px solid #B2C055;" >
  <div class="divTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell" style="border:2px solid #B2C055;"><h2>Student Id</h2>
<div class="divTableCell" style="border:2px solid #B2C055;"><p th:text="${student.studentNumber}"></p>
</div>
</div>
</div>
</div>
</div>
<div class="divTableCell" style="border:2px solid #B2C055;"><h3>Student Name</h3>
<div class="divTableCell" style="border:2px solid #B2C055;"><p th:text="${student.firstName} + '  ' + ${student.lastName}"></p>
</div>
</div>


 <div class="divTableRow">
<div class="divTableCell" style="border:2px solid #B2C055;"><h3>Age</h3>
<div class="divTableCell" style="border:2px solid #B2C055;"><p th:text="${student.age}"></p>
</div>
</div>
</div>

<div class="divTableRow">
<div class="divTableCell" style="border:2px solid #B2C055;"><h3>Grade</h3>
<div class="divTableCell" style="border:2px solid #B2C055;"><p th:text="${student.grade}"></p>
</div>
</div>
</div>

<div class="divTableRow">
<div class="divTableCell" style="border:2px solid #B2C055;"><h3>Allergies</h3>
<div class="divTableCell" style="border:2px solid #B2C055;"><p th:text="${student.allergies}"></p>
</div>
</div>
</div>



<div class="divTableRow">
<div class="divTableCell" style="border:2px solid #B2C055;"><h3>Qualifies for Free or Reduced Lunches</h3>
<div class="divTableCell" style="border:2px solid #B2C055;"><p th:text="${student.frl}"></p>
</div>
</div>
</div>
 </div>
 </div>
 </div>
 
 
     
  </body>
</html>