<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Program Partner Application</title>
  <meta name="author" content="name"/>
  <meta name="description" content="Web Form for Becoming program partner"/>
  <meta name="keywords" content="Mid Ohio, Foodbank, Site, Coordinator"/>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/foodsitestylesheet.css" type="text/css"/>


    <script type="text/javascript" src="js/npm.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  </head>
  <body>

 <div class="container">

    <form class="well form-vertical" action=" " method="post"  id="contact_form">
<fieldset>

<legend>Volunteer List</legend>

<div class="col-md-6 form-group">
  <label class=" control-label">Volunteer's Name</label  >
  <p th:each="volunteer: ${volunteers}">
  
  <!--<button type="button"> <a th:href="@{/showVolunteer(id=${volunteer.id})}"/> <p th:text="${volunteer.id}"></p> 
     </button>-->
  <a th:text ="${volunteer.firstName} + ' ' + ${volunteer.lastName}"
   th:href="@{/showVolunteer(id=${volunteer.id})}"/> 
  
  </p>
  </div>

  
		</fieldset>
		</form>
</div>
</body>
</html>




