<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Welcome To Back Pack Bridge"/>
    <meta name="author" content="We Can Code It Team Back Pack"/>
        <!-- Tab Logo Image -->
    <link rel="icon" type="image/png" href="img/Tab-Icon.png"/>



    <title>Welcome Page for Site Coordinator</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/foodsitestylesheet.css" type="text/css"/>


    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet"/>
    <link href="css/ticker.css" rel="stylesheet"/>
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top makeHeaderColor" role="navigation">
        <div class="container makeHeaderColor">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header makeHeaderColor">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="hvr-grow navbar-brand" href="index.html">
                	<img style="margin-top: -44px;margin-left: -70px;" src="img/topLeftLogo.png"/></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li th:hidden="${signon.AdminHide}">
                        <a class="hvr-back-pulse " href="/showAdmins">ID Admin</a>
                    </li>
                    <li th:hidden="${signon.SiteHide}">
                        <a class="hvr-back-pulse " href="/showAllSites">Sites</a>
                    </li>
                    <li th:hidden="${signon.StudentHide}">
                        <a class="hvr-back-pulse " href="/showStudents">Students</a>
                    </li>
                    <li th:hidden="${signon.VolunteerHide}">
                        <a class="hvr-back-pulse " href="/showVolunteers">Volunteers</a>
                    </li>
                    <li th:hidden="${signon.referalHide}">
                        <a class="hvr-back-pulse " href="/showNewStudents">Referral</a>
                    </li>
                    <li>
                        <a class="hvr-back-pulse " href="/showStudentEntry">New Student</a>
                    </li>
                    <li>
                        <a class="hvr-back-pulse" href="/login-form">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header-->

<div class="container">
<div class="row">
<div class="col-lg-12 page-header well shadow-box-class">
<ul data-jkit="[ticker:speed=20;delay=7000]">
    <li>Welcome To Backpack Bridge!</li>
    <li>Please Choose An Option Below!</li>
</ul>

</div>
</div>
</div>
<!-- end of ticker
 -->
<div class="container">
        <div class="row">

        <div class="col-lg-6">
        <a href="/showStudentEntry" class="button btnPush btnBlueGreen" data-jkit="[show:delay=500;speed=600;animation=fade]">Add New Students</a>
        </div>

        <div class="col-lg-6">
        <a href="/showStudents" class="button btnPush btnBlueGreen" data-jkit="[show:delay=900;speed=600;animation=fade]">View Students at Site</a>
        </div>

        </div>

        <div class="row">

        <div class="col-lg-6">
        <a href="/showVolunteers" class="button btnPush btnBlueGreen" data-jkit="[show:delay=1300;speed=600;animation=fade]">View Volunteers at Site</a>
        </div>

        <div class="col-lg-6">
        <a href="/showNewStudents" class="button btnPush btnBlueGreen" data-jkit="[show:delay=1700;speed=600;animation=fade]">Student Referral</a>

        </div>

        </div>

</div>
        <!-- Footer -->
<footer class="fluid-container navbar navbar-default shadow-box-class" role="navigation">
  <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p class="pull-left">Copyright &copy; WeCanCodeIT 2017</p>
                </div>
                 <div class="col-lg-6">
                    <p class="pull-right">Made by the Back Pack Bridge Team at We Can Code It</p>
                </div>
            </div>
  </div>
</footer>

    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/jquery.jkit.1.2.16.min.js"></script>

<!-- JavaKit Library-->
<script type="text/javascript">
$(document).ready(function(){
  $('body').jKit();
});
</script>

</body>

</html>